.noteContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.noteDiv {
    margin: 10px;
}

.noteCard {
    max-width: 150px;
    min-height: 150px;
    background-color: red;
}

.cardTitle {
    font-weight: bold;
}

.icons {
    // height: 50px;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding-top: 50px;
}

.iconsToRight {
    display: flex;
    justify-content: flex-end;
}

.iconsToLeft {
    display: flex;
    justify-content: flex-start;
}